.BookList-BookList {
    margin: 1em 1em 1em 0;
    list-style-type: square;
}

.BookList-Book {
    margin: 1em 0;
    display: flex;
}

.BookList-Title {
    font-size: 1.2em;
    margin-right: 0.25em;
    border-bottom: 1px solid black;
}

.BookList-Link {
    text-decoration: none;
    flex: 2 1;
}

.BookList-Author {
    font-size: 1.1em;
}

.BookList-Year {
}

.BookList-Donation {
}

.BookList-Paypal {
    padding-left: 1em;
    vertical-align: middle;
}
