.BookList-BookList {
    padding-left: 1.5em;
    list-style-type: square;
}

.BookList-Book {
    margin: 1em 0;
    display: flex;
}

@media only screen and (max-width: 800px) {
    .BookList-Book {
        flex-direction: column;
    }
}

.BookList-Title {
    font-size: 1.2em;
    margin-right: 0.25em;
    border-bottom: 1px solid black;
}

.BookList-Link {
    text-decoration: none;
    flex: 2 1;
    margin-bottom: 0.5em;
}

.BookList-Author {
    font-size: 1.1em;
}

.BookList-Action {
    padding: 0.25em;
}
.BookList-Icon {
    padding-right: 0.25em;
    vertical-align: middle;
}
