.Chapter {
    margin: 0.5em 0.1em;
}
.Chapter-Summary {
    cursor: pointer;
}
.Chapter-Title {
    display: inline;
    font-size: 16px;
}
.Chapter-Content {
    font-size: 14px;
    text-align: justify;
}
